<blockquote>
  <div class="you">
    <p><%= @question %></p>
    <p>-You</p>
  </div>
</blockquote>
<blockquote>
  <div class="coach">
    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>
</blockquote>
<%= link_to "Ask a new question", "/ask" %>
